# Groupe:
####  Souleymane DIALLO
####  Ndeye Issa KA
####  Tacko Ndiaye

# Exo1

In [1]:
import numpy as np
import pandas as pd
from pandas import Series

In [2]:

n = ["Doudou", "Amy", "Moussa"]
a = [10, 15, 20]
p = [75, 123,239]
paille = [4.5,5.0,6.1]
g = ["M","F", "M"]
d = {"Nom": n, "Age": a, "Poids": p, "Paille": paille, "Genre": g}
df = pd.DataFrame(d)
df

      Nom  Age  Poids  Paille Genre
0  Doudou   10     75     4.5     M
1     Amy   15    123     5.0     F
2  Moussa   20    239     6.1     M

In [3]:
m = np.array(([12,22], [20,19]))
df1 = pd.DataFrame(m, index = ["an 1", "an 2"], columns = ["Vaches", "Chevres"])
df1

      Vaches  Chevres
an 1      12       22
an 2      20       19

In [4]:
df1.to_csv("vache_chevre.csv")

In [5]:
r = pd.read_csv("vache_chevre.csv", index_col = 0)
r

      Vaches  Chevres
an 1      12       22
an 2      20       19

# Exo2

1. Importer le fichier boissons_evaluees.csv.

In [6]:
B = pd.read_csv("boissons_evaluees.csv", index_col = 0)
B

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

2. Quelle est la médiane de la colonne points dans le DataFrame boisson ?

In [7]:
print("la mediane de la colonne points est: ", B.points.median())

la mediane de la colonne points est:  88.0

3. Quels sont les pays représentés dans l’ensemble de données ? (Votre réponse ne doit pas
comporter de doublons).

In [8]:
print("Voici les pays representes:",B.country.unique())

Voici les pays representes: ['Italy' 'Portugal' 'US' 'Spain' 'France' 'Germany' 'Argentina' 'Chile'
 'Australia' 'Austria' 'South Africa' 'New Zealand' 'Israel' 'Hungary'
 'Greece' 'Romania' 'Mexico' 'Canada' nan 'Turkey' 'Czech Republic'
 'Slovenia' 'Luxembourg' 'Croatia' 'Georgia' 'Uruguay' 'England' 'Lebanon'
 'Serbia' 'Brazil' 'Moldova' 'Morocco' 'Peru' 'India' 'Bulgaria' 'Cyprus'
 'Armenia' 'Switzerland' 'Bosnia and Herzegovina' 'Ukraine' 'Slovakia'
 'Macedonia' 'China' 'Egypt']

4. À quelle fréquence chaque pays figure-t-il dans l’ensemble des données ? Créez une Series
de boisson_par_pays en faisant correspondre les pays au nombre de critiques de boisson de
ce pays.

In [9]:
# frequence
B.country.value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Czech Republic               12
Macedonia                    12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
China                         1
Slovakia                      1
Egypt                         1
Name: country, dtype: int64

In [10]:
# serie boisson par pays
boisson_pays = B.groupby("country").points.unique()
critique = []
for i in range(len(boisson_pays.index)):
    critique.append(len(boisson_pays[i]))
serie = Series(critique ,index = boisson_pays.index )
serie

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
dtype: int64

5. Créez la variable prix_centre contenant une version de la colonne price avec le prix moyen
soustrait. (Remarque : cette transformation de « centrage » est une étape de prétraitement courante
avant l’application de divers algorithmes de Machine Learning).

In [11]:
# prix centre
prix_moyen=B.price.mean()
B.price.map(lambda p: p - prix_moyen)

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

6. Je suis un acheteur de boisson. Quelle boisson est la meilleure affaire ? Créez une variable
boisson_negociee avec le titre de la boisson ayant le meilleur rapport qualité/prix dans
l’ensemble de données.

In [12]:
# meilleue boisson
rapport_qua_prix = B.points/B.price
B.insert(2, "Rapport", rapport_qua_prix, allow_duplicates = False)

In [13]:
boisson_negociee = B.loc[B.loc[:, "Rapport"] == np.nanmax(rapport_qua_prix)]
#a.loc[a.loc[:,"Rapp_qua_p"]==np.max(Rapp_qua_p)]
boisson_negociee

,country,description,Rapport,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
64590,US,"There's a lot going on in this Merlot, which i...",21.5,NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
126096,Romania,Notes of sun-dried hay and green flower highli...,21.5,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas

# Exo3

On considère le fichier boissons_evaluees.csv.
1. Quels sont les critiques de boisson les plus fréquentes dans l’ensemble des données ? Créez
une Series dont l’index est la catégorie taster_twitter_handle de l’ensemble de données, et
dont les valeurs comptent le nombre de critiques que chaque personne a rédigées.

In [14]:
# critiques frequentes : 6 premières
B.points.value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [15]:
# nbre de critiques
twitter = B.groupby("taster_twitter_handle").points.unique()
nbr_critique = []
for i in range(len(twitter.index)):
    nbr_critique.append(len(twitter[i]))

serie_critique = Series(nbr_critique, index = twitter.index)
serie_critique

taster_twitter_handle
@AnneInVino         17
@JoeCz              21
@bkfiona             7
@gordone_cellars    18
@kerinokeefe        21
@laurbuzz           15
@mattkettmann       17
@paulgwine          21
@suskostrzewa       15
@vboone             20
@vossroger          21
@wawinereport       18
@wineschach         19
@winewchristina      4
@worldwineguys      16
dtype: int64

2. Quelle est la meilleure boisson que je puisse acheter pour une somme donnée ? Créez une
Series dont l’indice est le prix de la boisson et dont la valeur est le nombre maximum de
points qu’une boisson coûtant le même prix a obtenu dans une critique. Trier les valeurs par
prix, en ordre croissant.

In [ ]:
# meilleure boisson à acheter:
while True:
    try:
        s = float(input("Saisir une somme donnée : "))
        assert s>=B.price.min()
        break
    except AssertionError:
        print("Aucune boisson disponible à cette somme... Veillez augmenter la somme")
    except ValueError:
        print("Vous n'avez pas saisi un nombre...")
        #a.loc[a.loc[:,"Rapp_qua_p"]==np.max(Rapp_qua_p)]
boisson_dispo = B.loc[B.loc[:, "price"]<= s]
meilleure_boi = boisson_dispo.loc[boisson_dispo.loc[:, "Rapport"]== np.nanmax(rapport_qua_prix)]
print("La meilleure boisson est ( à choisir parmi les equivalences ) :")
meilleure_boi

Saisir une somme donnée : 2
Aucune boisson disponible à cette somme... Veillez augmenter la somme

In [17]:
# Serie prix_max(points)
serie2 = B.groupby("price").points.max()
serie2.sort_values()

price
4.0        86
5.0        87
790.0      87
181.0      88
3300.0     88
         ...
617.0     100
450.0     100
650.0     100
460.0     100
150.0     100
Name: points, Length: 390, dtype: int64

3. Quels sont les prix minimum et maximum pour chaque cépage (variety) de boisson ? Créez
un DataFrame dont l’indice est la catégorie variety de l’ensemble de données et dont les
valeurs sont les valeurs min et max de celui-ci.

In [18]:
prix_min = B.groupby("variety").price.min()
prix_max = B.groupby("variety").price.max()
print("Les prix minimums pour chaque cépage sont: ")
print(prix_min )
print("\n\nLes prix maximums pour chaque cépage sont: ")
prix_max

Les prix minimums pour chaque cépage sont:
variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64


Les prix maximums pour chaque cépage sont:

variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64

In [19]:
# Dataframe:
df = pd.DataFrame({"prix_min" : prix_min, "prix_max": prix_max })
df

             prix_min  prix_max
variety
Abouriou         15.0      75.0
Agiorgitiko      10.0      66.0
Aglianico         6.0     180.0
Aidani           27.0      27.0
Airen             8.0      10.0
...               ...       ...
Zinfandel         5.0     100.0
Zlahtina         13.0      16.0
Zweigelt          9.0      70.0
Çalkarası        19.0      19.0
Žilavka          15.0      15.0

[707 rows x 2 columns]

4. Créer une Series dont l’indice est celui des « commentateurs » et dont la valeur est la note
moyenne de l’examen donné par ce « commentateur ». Astuce : vous aurez besoin des
colonnes taster_name et points.

In [20]:
# serie commentateur:
twit = B.groupby("taster_name").points.unique()
note_moyenne = []
for i in range(len(twit)):
    note_moyenne.append(np.nanmean(twit[i]))

series = Series(note_moyenne, index = twit.index)
series

taster_name
Alexander Peartree    85.500000
Anna Lee C. Iijima    89.000000
Anne Krebiehl MW      88.941176
Carrie Dykes          86.090909
Christina Pickard     87.750000
Fiona Adams           86.857143
Jeff Jenssen          89.500000
Jim Gordon            88.500000
Joe Czerwinski        90.000000
Kerin O’Keefe         90.000000
Lauren Buzzeo         88.000000
Matt Kettmann         89.000000
Michael Schachner     89.000000
Mike DeSimone         88.000000
Paul Gregutt          90.000000
Roger Voss            90.000000
Sean P. Sullivan      88.500000
Susan Kostrzewa       87.000000
Virginie Boone        89.500000
dtype: float64

5. Quel est le type de données de la colonne points dans l’ensemble de données ?

In [21]:
#type: int64
B.points.dtypes

dtype('int64')

6. Parfois, la colonne price est nulle. A combien d’avis dans l’ensemble de données manque-t-il
un prix ?

In [22]:
# Taille: 
print("Les donnees qui n'ont pas de prix sont de:",len(B[pd.isnull(B.price)]))

Les donnees qui n'ont pas de prix sont de: 8996